@model LeaveManagementSystem.Models.Employees
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="post" action="/home/edit" enctype="multipart/form-data" id="form">

    @Html.HiddenFor(m => m.EmpId)

    @Html.LabelFor(m => m.EmpName)
    <br />
    @Html.TextBoxFor(m => m.EmpName)
    @Html.ValidationMessageFor(m => m.EmpName)

    <br /><br />

    @Html.LabelFor(m => m.EmpEmailId)
    <br />
    @Html.TextBoxFor(m => m.EmpEmailId)
    @Html.ValidationMessageFor(m => m.EmpEmailId)

    <br /><br />

    <h3>Educational Qualifications</h3>


    <div class="edu">
            @for (int i = 0; i < Model.EmpEdu.Count(); i++)
            {
                     <input type="hidden" id="EmpEdu_index" name="EmpEduIndex" value=@i />
                    <br />
                    @Html.LabelFor(m => m.EmpEdu[i].EduLevel)
                    
                    @Html.TextBoxFor(m => m.EmpEdu[i].EduLevel)
                    @Html.ValidationMessageFor(m => m.EmpEdu[i].EduLevel)

                    @Html.LabelFor(m => m.EmpEdu[i].EduYOP)
                    
                    @Html.TextBoxFor(m => m.EmpEdu[i].EduYOP)
                    @Html.ValidationMessageFor(m => m.EmpEdu[i].EduYOP)
                
            }
        <div id="added-edu"> </div>
    </div>


    <button id="add-btn">Add Education</button>


    @*<div class="added-edu">
                <div class="edu">
                    @Html.LabelFor(m => m.EmpEdu[Model.EmpEdu.Count()-1].EduLevel)
                    <br />
                    @Html.TextBoxFor(m => m.EmpEdu[Model.EmpEdu.Count()-1].EduLevel)
                    @Html.ValidationMessageFor(m => m.EmpEdu[Model.EmpEdu.Count()-1].EduLevel)

                    <br /><br />

                    @Html.LabelFor(m => m.EmpEdu[Model.EmpEdu.Count()-1].EduYOP)
                    <br />
                    @Html.TextBoxFor(m => m.EmpEdu[Model.EmpEdu.Count()-1].EduYOP)
                    @Html.ValidationMessageFor(m => m.EmpEdu[Model.EmpEdu.Count()-1].EduYOP)
                </div>
            </div>

        <script>
            $('#add-btn').on('click','button', function () {
                event.preventDefault();
                @{ Model.EmpEdu.Add(new LeaveManagementSystem.Models.Education());};
                $('#to-add').append('#added-edu');
            });
        </script>*@


    @*<div class="edu">
        <input type="hidden" id="EmpEdu_index" name="EmpEdu.index" value="0" />

        <label for="EmpEdu_0__EduLevel">Level of Education</label>
        <input id="EmpEdu_0__EduLevel" name="EmpEdu[0].EduLevel" type="text" value="EmpEdu[0].EduLevel" />

        <label for="EmpEdu_0__EduYOP">Year Of Passing</label>
        <input id="EmpEdu_0__EduYOP" name="EmpEdu[0].EduYOP" type="text" value="EmpEdu[0].EduYOP" />

    

        <div id="added-edu">
        
            <input type="hidden" id="EmpEdu_index" name="EmpEduIndex" value="1" />

            <label for="EmpEdu_1__EduLevel">Level of Education</label>
            <input id="EmpEdu_1__EduLevel" name="EmpEdu[1].EduLevel" type="text" value="EmpEdu[1].EduLevel" />

            <label for="EmpEdu_1__EduYOP">Year Of Passing</label>
            <input id="EmpEdu_1__EduYOP" name="EmpEdu[1].EduYOP" type="text" value="EmpEdu[1].EduYOP" /><br />

        </div>
    </div>*@

    <input type="submit" value="Submit" />

</form>

<script>
    $('#add-btn').click(function () {
        event.preventDefault();
        var oldindex = $('input[name=EmpEduIndex]').last().attr('value');
        var index = parseInt(oldindex) + 1;
        var text1 = '<input type="hidden" id="EmpEdu_index" name="EmpEduIndex" value=' + index + ' />';
        var text2 = '<label for="EmpEdu_' + index + '__EduLevel">Level of Education</label>';
        var text3 = '<input id="EmpEdu_' + index + '__EduLevel" name="EmpEdu[' + index + '].EduLevel" type="text" value="" />';
        var text4 = '<label for="EmpEdu_' + index + '__EduYOP">Year Of Passing</label>';
        var text5 = '<input id="EmpEdu_' + index + '__EduYOP" name="EmpEdu[' + index + '].EduYOP" type="text" value="" /><br />';

        $('#added-edu').append(text1, text2, text3, text4, text5);
        
});
</script>